@font-face {
  font-family: "le-murmure";
  src: url("./assets/fonts/le-murmure.otf") format("opentype");
}

@font-face {
  font-family: "Charter-BI";
  src: url("./assets/fonts/Charter-BI.otf") format("opentype");
}

@font-face {
  font-family: "Charter-R";
  src: url("./assets/fonts/Charter-R.otf") format("opentype");
}

body {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 23.5% 1.5% 1.5% 17.5% 31%;
      grid-template-columns: 25% 23.5% 1.5% 1.5% 17.5% 31%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "leftPage leftPage cl cr rightPageImg rightPage" "leftPage leftPage cl cr rightPageImg rightPage" "leftPage leftPage cl cr rightPageImg rightPage";
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "le-murmure", serif;
  border: none;
  text-decoration: none;
  color: inherit;
}

.leftPage {
  padding: 0 3em;
  color: white;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: leftPage;
}

.rightPage {
  padding: 0 3em;
  color: white;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 6;
  grid-area: rightPage;
}

h1 {
  display: block;
  font-size: 9em;
  text-shadow: 3px 3px 0 black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.right {
  text-align: right;
}

hr {
  border: 0.5px solid black;
  border-radius: 5px;
  width: 100%;
  margin: 1.2em auto;
}

.rightDivider {
  width: 85%;
  float: right;
}

.logos {
  position: absolute;
  height: 90%;
  top: 1.5%;
  left: 52%;
}

.about-thing-projects .linkurl {
  text-align: right;
  -webkit-font-smoothing: antialiased;
  font-family: "Charter-BI", serif;
  font-size: 4.5em;
  text-shadow: 3px 3px 0 black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  display: block;
  margin: 0.2em auto;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.about-thing-projects .linkurl:hover {
  color: #401b33;
}

.about-thing-projects p {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  font-family: "Charter-R", serif;
  margin-bottom: 10px;
}

.about-thing .linkurl {
  -webkit-font-smoothing: antialiased;
  font-family: "Charter-BI", serif;
  font-size: 4.5em;
  text-shadow: 3px 3px 0 black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  display: block;
  margin: 0.2em auto;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.about-thing .linkurl:hover {
  color: #d9043d;
}

.about-thing p {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  font-family: "Charter-R", serif;
  margin-bottom: 10px;
}

.contact {
  margin-top: -35px;
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  font-family: "Charter-R", serif;
}

.contact a {
  font-family: "Charter-R", serif;
}

.leftDiv {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: cr;
  height: 100%;
  width: 100%;
  background: white;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(19%, rgba(255, 255, 255, 0.262342)), color-stop(27%, rgba(255, 255, 255, 0)), to(rgba(78, 78, 78, 0.772146)));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.262342) 19%, rgba(255, 255, 255, 0) 27%, rgba(78, 78, 78, 0.772146) 100%);
}

.rightDiv {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: cl;
  height: 100%;
  width: 100%;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(19%, rgba(255, 255, 255, 0.262342)), color-stop(27%, rgba(255, 255, 255, 0)), to(rgba(78, 78, 78, 0.772146)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.262342) 19%, rgba(255, 255, 255, 0) 27%, rgba(78, 78, 78, 0.772146) 100%);
}

@media (max-width: 100em) {
  .about-thing-projects .linkurl {
    font-size: 3.5em;
  }
  .about-thing-projects p {
    font-size: 1em;
  }
  .about-thing .linkurl {
    font-size: 3.5em;
  }
  .about-thing p {
    font-size: 1em;
  }
  .logos {
    position: absolute;
    height: 93%;
    top: 3%;
    left: 52%;
  }
}

@media (max-width: 55em) {
  h1 {
    font-size: 4em;
  }
  .main {
    font-size: 0.5em;
  }
  .about-thing-projects .linkurl {
    text-align: left;
    font-size: 3em;
  }
  .about-thing-projects p {
    font-size: 1em;
  }
  .about-thing .linkurl {
    font-size: 3em;
  }
  .about-thing p {
    font-size: 1em;
  }
  .contact {
    font-size: 1em;
    text-align: center;
  }
  body {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "leftPage leftPage" "leftPage leftPage" "leftPage leftPage" "rightPage rightPage" "rightPage rightPage" "rightPage rightPage";
  }
  .rightPage {
    margin-top: 50px;
  }
  .logos {
    position: absolute;
    height: 1%;
    top: 1%;
    left: 1%;
    visibility: hidden;
  }
  .right {
    text-align: left;
  }
  .rightDivider {
    width: 100%;
    float: none;
  }
  .leftDiv {
    visibility: hidden;
  }
  .rightDiv {
    visibility: hidden;
  }
}
/*# sourceMappingURL=papyrus.css.map */